* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.limite-container {
  max-width: 1024px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
